<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "https://plortinus.github.io/model2blockly/ns/model2blockly"
			class = "io.github.plortinus.model2blockly.model2Blockly.Model2BlocklyPackage"
			genModel = "model/generated/Model2Blockly.genmodel" />
		<package
			uri = "https://plortinus.github.io/model2blockly/ns/blockly-editor-spec"
			class = "io.github.plortinus.model2blockly.intermediate.blocklyspec.BlocklySpecPackage"
			genModel = "model/generated/BlocklyEditorSpec.genmodel" />
	</extension>
</plugin>
